<section class="form measuring">
	<div class="form__container container">

		<p class="measuring__clickbate">Вы же хотите качественные белоснежные окна, а не выкинуть деньги на ветер, не так ли?</p>
		<div class="form__wrapper">
			<div class="form__about">
				<p class="section-subtitle form__subtitle measuring__subtitle">Сотрудники «Окна для Вас» сами заказывают окна в «Окна для Вас»!</p>

				<p class="form__text">Запишитесь на бесплатный замер</p>
			</div>

			<form class="form__post">
				<input class="form__post-input form__post-input--name" type="text" name="name" value="" placeholder="Ваше имя" required>
				<input class="form__post-input form__post-input--phone" type="phone" name="phone" value="" placeholder="Ваш телефон" required>
				<button class="btn form__post-submit btn--fill">Получить консультацию</button>
			</form>
		</div>
	</div>
</section>