<section class="form consultation">
	<div class="consultation__container container">
		<div class="form__wrapper">
			<div class="form__about">
				<p class="section-subtitle form__subtitle">Мы готовы озвучить стоимость вашего остекления!</p>

				<p class="form__text">Оставьте заявку, и мы бесплатно поможем вам подобрать подходящие окна</p>
			</div>

			<form class="form__post">
				<input class="form__post-input form__post-input--name" type="text" placeholder="Ваше имя" name="name" value="" required>
				<input class="form__post-input form__post-input--phone" type="phone" placeholder="Ваш телефон" name="phone" value="" required>
				<button class="btn form__post-submit btn--fill">Получить консультацию</button>
			</form>
		</div>
	</div>
</section>