<div class="modal">
	<div class="modal__wrapper">
			<div class="modal__container">
			<p class="modal__subtitle">Оставьте заявку, и мы Вам перезвоним</p>
			<form class="modal__form" action="#">
				<div class="form__post modal__post">
					<input class="form__post-input modal__input" type="text" placeholder="Ваше имя">
					<input class="form__post-input modal__input" type="phone" placeholder="Ваш телефон">
					<button class="btn form__post-submit btn--fill">Получить консультацию</button>
				</div>
			</form>
			<p class="modal__copy">Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных</p>
			<button class="btn__close modal__close"></button>
		</div>
	</div>
</div>